/* This file contains default styles for CSS classes used in the esoco-gwt 
   framework. They can be imported by applications to set default values for 
   several framework styles.
*/
@external .vertical;
@external .horizontal;
@external .gf-DataElement;
@external .gf-DataElementTablePanel;
@external .gf-DataElementLabel;
@external .gf-DataElementHeader;
@external .gf-EmptyCell;
@external .EditEntityTagsFragment;
@external .SelectedEntityTags;
@external .EditTextActions;
@external .EditTextValue;
@external .ProcessStepFragment;
@external .gwt-TextArea;
@external .gwt-TextArea-readonly;
@external .gwt-PushButton;
@external .gf-Toolbar;
@external .gf-ToolbarBack;
@external .gf-ToolButton;
@external .gf-ToolSeparator;
@external .gf-ButtonPanel;
@external .gf-PeriodUnit;
@external .DialogAction;
@external .MessageBox;
@external .MessageBoxContent;
@external .MessageBoxText;
.gf-DataElementTablePanel>tbody>tr>td {
	padding: 0.3em;
	vertical-align: top;
}

.gf-DataElementTablePanel.EditTextActions {
	width: 100%;
}

.gf-DataElementTablePanel.EditTextActions>tbody>tr>td {
	color: #555;
	padding: 0;
	text-align: right;
	vertical-align: middle;
}

.gf-DataElementTablePanel>tbody>tr>td.gf-DataElementLabel {
	vertical-align: middle;
}

.gf-DataElementTablePanel>tbody>tr>td.gf-EmptyCell {
	padding: 0;
}

.gf-DataElementTablePanel {
	height: 100%;
}

.gf-DataElementTablePanel.ProcessStepFragment {
	width: 100%;
}

.gf-DataElementTablePanel.EditEntityTagsFragment, td.SelectedEntityTags {
	width: 100%;
}

.EditTextValue {
	width: 100%;
	height: 100%;
}

.gf-DataElement.gwt-TextArea {
	/* for correct border display and padding: */
	height: 99%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.gf-DataElement.gwt-TextArea-readonly {
	color: black;
	border: 1px outset Gray;
	background: #FFE;
}

.DialogAction .gwt-PushButton {
	min-width: 8em;
}

td.gf-DataElementHeader {
	height: 0;
	font-size: 120%;
	font-weight: bold;
}

.gf-ToolbarBack.vertical {
	height: 100%;
}

.gf-ToolbarBack.horizontal {
	width: 100%;
}

.gf-ToolButton {
	margin: 2px;
}

.gf-ToolSeparator {
	width: 2em;
	height: 1em;
}

.gf-ButtonPanel td {
	padding: 2px;
}

.gf-PeriodUnit {
	width: 96%;
}

.MessageBox {
	min-width: 30em;
}

.gf-DataElement.MessageBoxContent {
	width: 100%;
	height: 100%;
	padding-bottom: 1em;
}

.MessageBoxContent .MessageBoxText {
	white-space: pre-wrap !important;
}

@external .ewt-Error;
.ewt-Error, .gf-DataElementLabel.ewt-Error {
	color: #E84040;
}

.gf-DataElement.ewt-Error, .gf-DataElement.gwt-TextArea-readonly.ewt-Error {
	border: 2px solid #E84040;
}