@external .error, .readonly, .vertical, .horizontal, .gf-Active;
.error, .readonly, .horizontal, .vertical, .gf-Active {
	
}

@external .gf-DataElementPanel, .gf-ButtonPanel, .gf-DataElementListDialog;
.gf-DataElementPanel, .gf-ButtonPanel, .gf-DataElementListDialog {
	
}

@external .gf-DataElement, .gf-SingleDataElement;
@external .gf-DataElementLabel, .gf-DataElementHeader, .gf-EmptyCell;
.gf-DataElement, .gf-SingleDataElement, .gf-DataElementLabel,
	.gf-DataElementHeader, .gf-EmptyCell {
	
}

@external .gf-LoginDialog, .gf-LoginPanel;
.gf-LoginDialog, .gf-LoginPanel {
	
}

@external .gf-Toolbar, .gf-ToolbarBack, .gf-ToolButton, .gf-ToolSeparator;
.gf-Toolbar, .gf-ToolbarBack, .gf-ToolButton, .gf-ToolSeparator {
	
}

@external .gf-PeriodCount, .gf-PeriodUnit;
.gf-PeriodCount, .gf-PeriodUnit {
	
}

@external .ga-RootPanel, .ga-ProcessPanel, .ga-ProcessTitle;
@external .ga-ProcessTopPanel, .ga-ProcessButtonPanel;
@external .ga-ProcessParamPanel, .ga-ProcessSummaryPanel;
@external .ga-ErrorMessage;
.ga-RootPanel, .ga-ProcessPanel, .ga-ProcessTitle, .ga-ProcessTopPanel, 
.ga-ProcessButtonPanel, .ga-ProcessParamPanel, .ga-ProcessSummaryPanel, 
.ga-ErrorMessage {
	
}

@external .gf-DataElementCssGridPanel;
.gf-DataElementCssGridPanel {
    display: grid;
}

@external .valign-center, .valign-bottom;
.valign-center {
    align-items: center;
    display: flex;
}
.valign-bottom {
    align-items: end;
    display: flex;
}