@external .gwt-TextArea, .gwt-TextArea-readonly, .gwt-DialogBox, .gwt-PushButton;

@external .gf-DataElementPanel, .gf-DataElementListPanel, .gf-DataElementTabPanel;
@external .gf-DataElementStackPanel, .gf-DataElementSplitPanel;
@external .gf-DataElementLabel, .gf-DataElementHeader;
@external .gf-DataElement, .gf-SingleDataElement, .gf-EmptyCell;
@external .gf-DataElementListDialog, .gf-LoginPanel;
@external .gf-Toolbar, .gf-ToolbarBack, .gf-ToolButton, .gf-ToolSeparator;
@external .gf-ButtonPanel1, .gf-ButtonPanel2, .gf-ButtonPanel3, .gf-ButtonPanel4;
@external .gf-PeriodCount, .gf-PeriodUnit;
@external .error, .readonly, .vertical, .horizontal;

@external .DialogAction;
@external .MessageBox, .MessageBoxContent, .MessageBoxIcon, .MessageBoxText;

@external .EditTextValue, .EditTextAction;

@external .ProcessStepFragment;

.gf-DataElementPanel
{
	height: 100%;
}

.gf-DataElementPanel.ProcessStepFragment
{
    width: 100%;
}

.gf-DataElementTabPanel
{
}

.gf-DataElementStackPanel
{
}

.gf-DataElementSplitPanel
{
}

.gf-DataElementListPanel
{
}

.gf-DataElement
{
}

.gf-SingleDataElement
{
}

.gf-DataElement.gwt-TextArea
{
	/* for correct border display and padding: */
	height: 99%; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;		
}

.gf-DataElement.gwt-TextArea-readonly
{
	color: black;
	border: 1px outset Gray;
	background: #FFE;
}

.gf-DataElementLabel
{
}

td.gf-DataElementHeader
{
	height: 0;
	font-size: 120%;
	font-weight: bold;
}

.gf-EmptyCell
{
}

.error, .readonly
{
}

.gf-LoginPanel
{
}

.gf-MailMessagePanel
{
}

.gf-Toolbar
{
}

.gf-ToolbarBack.vertical
{
	height: 100%;
}	

.gf-ToolbarBack.horizontal
{
	width: 100%;
}	

.gf-ToolButton
{
	margin: 2px;
}

.gf-ToolSeparator
{
	width: 2em;
	height: 1em;
}

.gf-ButtonPanel1 td, .gf-ButtonPanel2 td, .gf-ButtonPanel3 td, .gf-ButtonPanel4 td
{
	padding: 2px;
}

.gf-ButtonPanel1 colgroup
{
}

.gf-ButtonPanel2 colgroup
{
	width: 50%;
}

.gf-ButtonPanel3 colgroup
{
	width: 33%;
}

.gf-ButtonPanel4 colgroup
{
	width: 25%;
}

.gf-DataElementListDialog
{
}

.gf-PeriodCount
{
}

.gf-PeriodUnit
{
	width: 96%;
}

.gwt-DialogBox .DialogAction
{
}

.DialogAction .gwt-PushButton
{
    min-width: 8em;
}

.MessageBox
{
	min-width: 30em;
}

.gf-DataElement.MessageBoxContent
{
	width: 100%;
	height: 100%;
	padding-bottom: 1em;	
}

.MessageBoxContent .MessageBoxIcon
{
}

.MessageBoxContent .MessageBoxText
{
	white-space: pre-wrap !important;
}

.EditTextValue
{
	width: 100%;
	height: 100%;	
}

.EditTextAction
{
	
}