@external .gwt-TextArea-readonly;
@external .error;
@external .gf-DataElementPanel, .gf-DataElement, .gf-DataElementLabel;
@external .gf-EmptyCell;
@external .ga-ProcessPanel, .ga-ProcessTitle;
@external .ga-ProcessTopPanel, .ga-ProcessButtonPanel;
@external .ga-ProcessParamPanel, .ga-ProcessSummaryPanel;
@external .ga-ErrorMessage;
@external .EditTextActions; 
@external .EditEntityTagsFragment, .SelectedEntityTags;

.error {
	color: #E84040;
}

.gf-DataElement.error, .gf-DataElement.gwt-TextArea-readonly.error {
	border: 2px solid #E84040;
}

.gf-DataElementLabel.error {
	color: #E84040;
}

.ga-ProcessPanel, .ga-ProcessTitle, .ga-ProcessTopPanel, .ga-ProcessButtonPanel,
	.ga-ProcessParamPanel, .ga-ProcessSummaryPanel, .ga-ErrorMessage {
	
}

.ga-ProcessButtonPanel {
	
}

.ga-ProcessParamPanel select {
	
}

.gf-DataElementPanel>tbody>tr>td {
	padding: 0.3em;
	vertical-align: top;
}

.gf-DataElementPanel.EditTextActions {
	width: 100%;
}

.gf-DataElementPanel.EditTextActions>tbody>tr>td {
	color: #555;
	padding: 0;
	text-align: right;
	vertical-align: middle;
}

.gf-DataElementPanel>tbody>tr>td.gf-DataElementLabel {
	vertical-align: middle;
}

.gf-DataElementPanel>tbody>tr>td.gf-EmptyCell {
	padding: 0;
}

.gf-DataElementPanel.EditEntityTagsFragment, td.SelectedEntityTags {
	width: 100%;
}
}